= simple_form_for @job, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :company
  = f.input :location
  = f.input :content
  = f.input :web_source
  = f.input :uuid
  = f.input :detail_url
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), jobs_path, :class => 'btn'
