%h1 Listing jobs

%table
  %tr
    %th Name
    %th Company
    %th Location
    %th Content
    %th Web source
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.name
      %td= job.company
      %td= job.location
      %td= job.content
      %td= job.web_source
      %td= link_to 'Show', job
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Job', new_job_path
