- model_class = Job
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @job.name
%p
  %strong= model_class.human_attribute_name(:company) + ':'
  %br
  = @job.company
%p
  %strong= model_class.human_attribute_name(:location) + ':'
  %br
  = @job.location
%p
  %strong= model_class.human_attribute_name(:content) + ':'
  %br
  = simple_format @job.content
%p
  %strong= model_class.human_attribute_name(:web_source) + ':'
  %br
  = @job.web_source
%p
  %strong= model_class.human_attribute_name(:uuid) + ':'
  %br
  = @job.uuid
%p
  %strong= model_class.human_attribute_name(:detail_url) + ':'
  %br
  = @job.detail_url

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), jobs_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_job_path(@job), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), job_path(@job), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
