<!DOCTYPE html>
<html>
  <head>
    <title>RailsJob</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Rails Jobs</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Browse Jobs", jobs_path %></li>
              <% if current_user %>
                <li><%= link_to "Rate Jobs", review_jobs_path %></li>
              <% end %>
              <li><%= link_to "Contact Us" %></li>
              <li><a href='javascript:void(0);' style= "align: right" onclick='toggleShowHide("#graphcontainer",1000)'> Show/Hide Graph </a></li>
            </ul>
            <div id="user_nav" class="login logintitletext">
              <% if current_user %>
                Logged in as <%= current_user.email %>.
                <%= link_to "Log out", log_out_path %>
              <% else %>
                <%= link_to "Sign up", sign_up_path %> or
                <%= link_to "log in", "javascript:toggleShowHide('#loginForm',100)" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="loginForm" align="right">
        <form action="/log_in" method="post">
          <table style=" border: 1px solid black">
            <tr valign='center' style="padding-top: 5px">
              <td><span class="loginlabel" >Name: </span></td>
              <td><input type="text" style="width:150px;" name="email"></td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>password: </td><td><input type="password" style="width:150px;" name="password"></td>
              <td><input type="submit" name="go" value="go" valign=top></td>
            </tr>
          </table>
        </form>
      </div>

      <div id"current_trends">
        <script src="/javascripts/highcharts.js"></script>
        <script src="/javascripts/modules/exporting.js"></script>
        <div id="graphcontainer" style="min-width: 400px; height: 400px; margin: 0 auto;"></div>
        <script>
          $(function () {
            var chart;
            $(document).ready(function() {
              chart = new Highcharts.Chart({
                chart: {
                  renderTo: 'graphcontainer',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
                },
                title: {
                  text: 'ROR market trends, 2012'
                },
                tooltip: {
                  formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                  }
                },
                plotOptions: {
                  pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                      enabled: true,
                      color: '#000000',
                      connectorColor: '#000000',
                      formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                      }
                    }
                  }
                },
                series: [{
                  type: 'pie',
                  name: 'trends',
                  data: <%=raw WhiteJobList.get_pie_chart_data.to_json %>
              }]
              });
            });
            toggleShowHide("#graphcontainer",1)
            toggleShowHide("#loginForm",1)
          });

          function toggleShowHide(divId, speed) {
            $(divId).slideToggle(speed,'', null);
          } 

        </script>
      </div>

      <div class="container">
      <%= yield %>
  </div>

</body>
</html>
